apiVersion: v2
name: pomerium
version: 21.2.0
appVersion: 0.14.5
home: http://www.pomerium.io/
icon: https://www.pomerium.com/img/logo-round.png
description: Pomerium is an identity-aware access proxy.
keywords:
- proxy
- access-proxy
- reverse-proxy
- sso
- openid connect
- oauth2
- authorization
- authentication
- google
- okta
- azure
- auth0
sources:
- https://github.com/pomerium/pomerium
engine: gotpl
dependencies:
- name: redis
  version: ">= 10.9.0"
  repository: https://charts.bitnami.com/bitnami
  condition: redis.enabled

maintainers:
- name: desimone
  email: bdd@pomerium.io
- name: travisgroth
