apiVersion: v2
name: pomerium
version: 31.1.4
appVersion: 0.17.2
home: http://www.pomerium.com/
icon: https://www.pomerium.com/img/icon.svg
description: Pomerium is an identity-aware access proxy.
keywords:
  - proxy
  - access-proxy
  - reverse-proxy
  - sso
  - openid connect
  - oauth2
  - authorization
  - authentication
  - google
  - okta
  - azure
  - auth0
sources:
  - https://github.com/pomerium/pomerium
engine: gotpl
dependencies:
  - name: redis
    version: "16.3.0"
    repository: https://charts.bitnami.com/bitnami
    condition: redis.enabled

maintainers:
  - name: desimone
    email: bdd@pomerium.io
  - name: travisgroth
