apiVersion: v1
name: pomerium
version: 14.0.0
appVersion: 0.10.6
home: http://www.pomerium.io/
icon: https://www.pomerium.io/logo-long.svg
description: Pomerium is an identity-aware access proxy.
keywords:
- proxy
- access-proxy
- reverse-proxy
- sso
- openid connect
- oauth2
- authorization
- authentication
- google
- okta
- azure
sources:
- https://github.com/pomerium/pomerium
engine: gotpl

maintainers:
- name: desimone
  email: bdd@pomerium.io
- name: travisgroth
