{{ template "chart.header" . }}
{{ template "chart.deprecationWarning" . }}

{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}

{{ template "chart.description" . }}

{{ template "chart.homepageLine" . }}

{{ template "chart.maintainersSection" . }}

{{ template "chart.sourcesSection" . }}

{{ template "chart.requirementsSection" . }}

Installation
-------------

pomerium-console requires the shared secret of your existing databroker and a supported RDBMS backend to install.

```bash
helm install pomerium-enterprise/pomerium-console \
    --set database.type=pg \
    --set database.username=pomerium \
    --set database.password=strongpassword \
    --set database.host=pghost.local \
    --set database.name=pomerium-console \
    --set config.sharedSecret=ZGVhZGJlZWZkZWFkYmVlZmRlYWRiZWVmCg== \
    --set config.databaseEncryptionKey=hDiBsQ6MJFr2y9jhT6c2Uu3lHw9/IpULfBJyesjPWpE= \
    --set config.signingKey=LS0tLS1CRUdJTiBFQyBQUklWQVRFIEtFWS0tLS0tCk1IY0NBUUVFSUtGcE1UV0JBOWpCZ2R0SWo5ajZYZ08vRDEvVENtUlM4a3gydjc2Z3V4dFdvQW9HQ0NxR1NNNDkKQXdFSG9VUURRZ0FFUVROeU1VaGVFbmY1VFFidnhKdkNtR3VHbzduL1lFaWFvR0luQWNEWkkxdGxoek1ON05ONwp4b3ZWUkZlbEkzc29ZM04xbElwVEdObkpkQWQyWmZwWWJRPT0KLS0tLS1FTkQgRUMgUFJJVkFURSBLRVktLS0tLQo= \
    --set config.audience=console.localhost.pomerium.io
```

{{ template "chart.valuesSection" . }}
